USE [master]
GO
/****** Object:  Database [Pawned46_project]    Script Date: 20/8/2026 22:32:39 ******/
CREATE DATABASE [Pawned46_project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pawned46_project', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Pawned46_project.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Pawned46_project_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Pawned46_project_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pawned46_project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pawned46_project]
GO
/****** Object:  Table [dbo].[Articulos]    Script Date: 20/8/2026 22:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulos](
	[IdArticulo] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdTipoArticulo] [int] NOT NULL,
	[ART_Codigo] [varchar](30) NOT NULL,
	[ART_Descripcion] [varchar](250) NOT NULL,
	[ART_Marca] [varchar](50) NULL,
	[ART_Modelo] [varchar](50) NULL,
	[ART_NumeroSerie] [varchar](100) NULL,
	[ART_Color] [varchar](30) NULL,
	[ART_Peso] [decimal](10, 2) NULL,
	[ART_Kilataje] [decimal](5, 2) NULL,
	[ART_ValorComercial] [decimal](12, 2) NOT NULL,
	[ART_ValorPrestamo] [decimal](12, 2) NOT NULL,
	[ART_Estado] [varchar](30) NOT NULL,
	[ART_Observaciones] [varchar](500) NULL,
	[ART_FechaRegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdArticulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ART_Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Auditoria]    Script Date: 20/8/2026 22:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auditoria](
	[IdAuditoria] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
	[ADM_Accion] [varchar](100) NOT NULL,
	[ADM_TablaAfectada] [varchar](100) NOT NULL,
	[ADM_RegistroAfectado] [int] NULL,
	[ADM_FechaHora] [datetime] NOT NULL,
	[ADM_Equipo] [varchar](100) NULL,
	[ADM_Descripcion] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAuditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 20/8/2026 22:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[CLI_Cedula] [varchar](20) NOT NULL,
	[CLI_Nombre] [varchar](50) NOT NULL,
	[CLI_Apellido] [varchar](50) NOT NULL,
	[CLI_Telefono] [varchar](20) NOT NULL,
	[CLI_Celular] [varchar](20) NULL,
	[CLI_Correo] [varchar](100) NULL,
	[CLI_Direccion] [varchar](250) NULL,
	[CLI_FechaNacimiento] [date] NULL,
	[CLI_FechaRegistro] [datetime] NOT NULL,
	[CLI_Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CLI_Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallePrestamo]    Script Date: 20/8/2026 22:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallePrestamo](
	[IdDetallePrestamo] [int] IDENTITY(1,1) NOT NULL,
	[IdPrestamo] [int] NOT NULL,
	[IdArticulo] [int] NOT NULL,
	[PRE_ValorGarantia] [decimal](12, 2) NOT NULL,
	[PRE_Observaciones] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetallePrestamo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVenta]    Script Date: 20/8/2026 22:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVenta](
	[IdDetalleVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdVenta] [int] NOT NULL,
	[IdArticulo] [int] NOT NULL,
	[VEN_PrecioVenta] [decimal](12, 2) NOT NULL,
	[VEN_Descuento] [decimal](12, 2) NOT NULL,
	[VEN_Total] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gastos]    Script Date: 20/8/2026 22:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gastos](
	[IdGasto] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[GAS_Descripcion] [varchar](250) NOT NULL,
	[GAS_Categoria] [varchar](50) NULL,
	[GAS_Monto] [decimal](12, 2) NOT NULL,
	[GAS_Fecha] [datetime] NOT NULL,
	[GAS_Observaciones] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdGasto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagos]    Script Date: 20/8/2026 22:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos](
	[IdPago] [int] IDENTITY(1,1) NOT NULL,
	[IdPrestamo] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[PAG_NumeroRecibo] [varchar](30) NOT NULL,
	[PAG_FechaPago] [datetime] NOT NULL,
	[PAG_Capital] [decimal](12, 2) NOT NULL,
	[PAG_Interes] [decimal](12, 2) NOT NULL,
	[PAG_Mora] [decimal](12, 2) NOT NULL,
	[PAG_TotalPagado] [decimal](12, 2) NOT NULL,
	[PAG_MetodoPago] [varchar](30) NOT NULL,
	[PAG_Observaciones] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PAG_NumeroRecibo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prestamos]    Script Date: 20/8/2026 22:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prestamos](
	[IdPrestamo] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[PRE_NumeroContrato] [varchar](30) NOT NULL,
	[PRE_FechaPrestamo] [date] NOT NULL,
	[PRE_MontoPrestado] [decimal](12, 2) NOT NULL,
	[PRE_TasaInteres] [decimal](5, 2) NOT NULL,
	[PRE_PlazoMeses] [int] NOT NULL,
	[PRE_FechaVencimiento] [date] NOT NULL,
	[PRE_InteresGenerado] [decimal](12, 2) NOT NULL,
	[PRE_TotalAPagar] [decimal](12, 2) NOT NULL,
	[PRE_Estado] [varchar](30) NOT NULL,
	[PRE_Observaciones] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPrestamo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PRE_NumeroContrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Renovaciones]    Script Date: 20/8/2026 22:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Renovaciones](
	[IdRenovacion] [int] IDENTITY(1,1) NOT NULL,
	[IdPrestamo] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[REN_FechaRenovacion] [datetime] NOT NULL,
	[REN_FechaAnteriorVencimiento] [date] NOT NULL,
	[REN_NuevaFechaVencimiento] [date] NOT NULL,
	[REN_MontoPagado] [decimal](12, 2) NOT NULL,
	[REN_Observaciones] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRenovacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 20/8/2026 22:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[USU_NombreRol] [varchar](50) NOT NULL,
	[USU_Descripcion] [varchar](200) NULL,
	[USU_Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposArticulos]    Script Date: 20/8/2026 22:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposArticulos](
	[IdTipoArticulo] [int] IDENTITY(1,1) NOT NULL,
	[ART_NombreTipo] [varchar](50) NOT NULL,
	[ART_Descripcion] [varchar](200) NULL,
	[ART_Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTipoArticulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 20/8/2026 22:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[IdRol] [int] NOT NULL,
	[USU_Nombre] [varchar](50) NOT NULL,
	[USU_Apellido] [varchar](50) NOT NULL,
	[USU_NombreUsuario] [varchar](50) NOT NULL,
	[USU_ContrasenaHash] [varchar](255) NOT NULL,
	[USU_Correo] [varchar](100) NULL,
	[USU_Telefono] [varchar](20) NULL,
	[USU_Estado] [bit] NOT NULL,
	[USU_FechaRegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[USU_NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 20/8/2026 22:32:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[IdVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[VEN_NumeroFactura] [varchar](30) NOT NULL,
	[VEN_FechaVenta] [datetime] NOT NULL,
	[VEN_NombreComprador] [varchar](100) NULL,
	[VEN_CedulaComprador] [varchar](20) NULL,
	[VEN_Subtotal] [decimal](12, 2) NOT NULL,
	[VEN_Descuento] [decimal](12, 2) NOT NULL,
	[VEN_Total] [decimal](12, 2) NOT NULL,
	[VEN_MetodoPago] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[VEN_NumeroFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Articulos] ADD  DEFAULT ('Disponible') FOR [ART_Estado]
GO
ALTER TABLE [dbo].[Articulos] ADD  DEFAULT (getdate()) FOR [ART_FechaRegistro]
GO
ALTER TABLE [dbo].[Auditoria] ADD  DEFAULT (getdate()) FOR [ADM_FechaHora]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT (getdate()) FOR [CLI_FechaRegistro]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((1)) FOR [CLI_Estado]
GO
ALTER TABLE [dbo].[DetalleVenta] ADD  DEFAULT ((0)) FOR [VEN_Descuento]
GO
ALTER TABLE [dbo].[Gastos] ADD  DEFAULT (getdate()) FOR [GAS_Fecha]
GO
ALTER TABLE [dbo].[Pagos] ADD  DEFAULT (getdate()) FOR [PAG_FechaPago]
GO
ALTER TABLE [dbo].[Pagos] ADD  DEFAULT ((0)) FOR [PAG_Capital]
GO
ALTER TABLE [dbo].[Pagos] ADD  DEFAULT ((0)) FOR [PAG_Interes]
GO
ALTER TABLE [dbo].[Pagos] ADD  DEFAULT ((0)) FOR [PAG_Mora]
GO
ALTER TABLE [dbo].[Prestamos] ADD  DEFAULT (CONVERT([date],getdate())) FOR [PRE_FechaPrestamo]
GO
ALTER TABLE [dbo].[Prestamos] ADD  DEFAULT ((0)) FOR [PRE_InteresGenerado]
GO
ALTER TABLE [dbo].[Prestamos] ADD  DEFAULT ((0)) FOR [PRE_TotalAPagar]
GO
ALTER TABLE [dbo].[Prestamos] ADD  DEFAULT ('Activo') FOR [PRE_Estado]
GO
ALTER TABLE [dbo].[Renovaciones] ADD  DEFAULT (getdate()) FOR [REN_FechaRenovacion]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((1)) FOR [USU_Estado]
GO
ALTER TABLE [dbo].[TiposArticulos] ADD  DEFAULT ((1)) FOR [ART_Estado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [USU_Estado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [USU_FechaRegistro]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT (getdate()) FOR [VEN_FechaVenta]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT ((0)) FOR [VEN_Descuento]
GO
ALTER TABLE [dbo].[Articulos]  WITH CHECK ADD  CONSTRAINT [FK_Articulos_Clientes] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO
ALTER TABLE [dbo].[Articulos] CHECK CONSTRAINT [FK_Articulos_Clientes]
GO
ALTER TABLE [dbo].[Articulos]  WITH CHECK ADD  CONSTRAINT [FK_Articulos_Tipos] FOREIGN KEY([IdTipoArticulo])
REFERENCES [dbo].[TiposArticulos] ([IdTipoArticulo])
GO
ALTER TABLE [dbo].[Articulos] CHECK CONSTRAINT [FK_Articulos_Tipos]
GO
ALTER TABLE [dbo].[Auditoria]  WITH CHECK ADD  CONSTRAINT [FK_Auditoria_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Auditoria] CHECK CONSTRAINT [FK_Auditoria_Usuarios]
GO
ALTER TABLE [dbo].[DetallePrestamo]  WITH CHECK ADD  CONSTRAINT [FK_DetallePrestamo_Articulos] FOREIGN KEY([IdArticulo])
REFERENCES [dbo].[Articulos] ([IdArticulo])
GO
ALTER TABLE [dbo].[DetallePrestamo] CHECK CONSTRAINT [FK_DetallePrestamo_Articulos]
GO
ALTER TABLE [dbo].[DetallePrestamo]  WITH CHECK ADD  CONSTRAINT [FK_DetallePrestamo_Prestamos] FOREIGN KEY([IdPrestamo])
REFERENCES [dbo].[Prestamos] ([IdPrestamo])
GO
ALTER TABLE [dbo].[DetallePrestamo] CHECK CONSTRAINT [FK_DetallePrestamo_Prestamos]
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVenta_Articulos] FOREIGN KEY([IdArticulo])
REFERENCES [dbo].[Articulos] ([IdArticulo])
GO
ALTER TABLE [dbo].[DetalleVenta] CHECK CONSTRAINT [FK_DetalleVenta_Articulos]
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVenta_Ventas] FOREIGN KEY([IdVenta])
REFERENCES [dbo].[Ventas] ([IdVenta])
GO
ALTER TABLE [dbo].[DetalleVenta] CHECK CONSTRAINT [FK_DetalleVenta_Ventas]
GO
ALTER TABLE [dbo].[Gastos]  WITH CHECK ADD  CONSTRAINT [FK_Gastos_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Gastos] CHECK CONSTRAINT [FK_Gastos_Usuarios]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_Prestamos] FOREIGN KEY([IdPrestamo])
REFERENCES [dbo].[Prestamos] ([IdPrestamo])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pagos_Prestamos]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pagos_Usuarios]
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD  CONSTRAINT [FK_Prestamos_Clientes] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO
ALTER TABLE [dbo].[Prestamos] CHECK CONSTRAINT [FK_Prestamos_Clientes]
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD  CONSTRAINT [FK_Prestamos_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Prestamos] CHECK CONSTRAINT [FK_Prestamos_Usuarios]
GO
ALTER TABLE [dbo].[Renovaciones]  WITH CHECK ADD  CONSTRAINT [FK_Renovaciones_Prestamos] FOREIGN KEY([IdPrestamo])
REFERENCES [dbo].[Prestamos] ([IdPrestamo])
GO
ALTER TABLE [dbo].[Renovaciones] CHECK CONSTRAINT [FK_Renovaciones_Prestamos]
GO
ALTER TABLE [dbo].[Renovaciones]  WITH CHECK ADD  CONSTRAINT [FK_Renovaciones_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Renovaciones] CHECK CONSTRAINT [FK_Renovaciones_Usuarios]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([IdRol])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Roles]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Usuarios]
GO
ALTER TABLE [dbo].[Articulos]  WITH CHECK ADD  CONSTRAINT [CK_Articulos_ValorComercial] CHECK  (([ART_ValorComercial]>=(0)))
GO
ALTER TABLE [dbo].[Articulos] CHECK CONSTRAINT [CK_Articulos_ValorComercial]
GO
ALTER TABLE [dbo].[Articulos]  WITH CHECK ADD  CONSTRAINT [CK_Articulos_ValorPrestamo] CHECK  (([ART_ValorPrestamo]>=(0)))
GO
ALTER TABLE [dbo].[Articulos] CHECK CONSTRAINT [CK_Articulos_ValorPrestamo]
GO
ALTER TABLE [dbo].[DetallePrestamo]  WITH CHECK ADD  CONSTRAINT [CK_DetallePrestamo_Valor] CHECK  (([PRE_ValorGarantia]>=(0)))
GO
ALTER TABLE [dbo].[DetallePrestamo] CHECK CONSTRAINT [CK_DetallePrestamo_Valor]
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD  CONSTRAINT [CK_DetalleVenta_Descuento] CHECK  (([VEN_Descuento]>=(0)))
GO
ALTER TABLE [dbo].[DetalleVenta] CHECK CONSTRAINT [CK_DetalleVenta_Descuento]
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD  CONSTRAINT [CK_DetalleVenta_Precio] CHECK  (([VEN_PrecioVenta]>=(0)))
GO
ALTER TABLE [dbo].[DetalleVenta] CHECK CONSTRAINT [CK_DetalleVenta_Precio]
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD  CONSTRAINT [CK_DetalleVenta_Total] CHECK  (([VEN_Total]>=(0)))
GO
ALTER TABLE [dbo].[DetalleVenta] CHECK CONSTRAINT [CK_DetalleVenta_Total]
GO
ALTER TABLE [dbo].[Gastos]  WITH CHECK ADD  CONSTRAINT [CK_Gastos_Monto] CHECK  (([GAS_Monto]>(0)))
GO
ALTER TABLE [dbo].[Gastos] CHECK CONSTRAINT [CK_Gastos_Monto]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [CK_Pagos_Capital] CHECK  (([PAG_Capital]>=(0)))
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [CK_Pagos_Capital]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [CK_Pagos_Interes] CHECK  (([PAG_Interes]>=(0)))
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [CK_Pagos_Interes]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [CK_Pagos_Mora] CHECK  (([PAG_Mora]>=(0)))
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [CK_Pagos_Mora]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [CK_Pagos_Total] CHECK  (([PAG_TotalPagado]>(0)))
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [CK_Pagos_Total]
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD  CONSTRAINT [CK_Prestamos_Monto] CHECK  (([PRE_MontoPrestado]>(0)))
GO
ALTER TABLE [dbo].[Prestamos] CHECK CONSTRAINT [CK_Prestamos_Monto]
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD  CONSTRAINT [CK_Prestamos_Plazo] CHECK  (([PRE_PlazoMeses]>(0)))
GO
ALTER TABLE [dbo].[Prestamos] CHECK CONSTRAINT [CK_Prestamos_Plazo]
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD  CONSTRAINT [CK_Prestamos_Tasa] CHECK  (([PRE_TasaInteres]>=(0)))
GO
ALTER TABLE [dbo].[Prestamos] CHECK CONSTRAINT [CK_Prestamos_Tasa]
GO
ALTER TABLE [dbo].[Renovaciones]  WITH CHECK ADD  CONSTRAINT [CK_Renovaciones_Fechas] CHECK  (([REN_NuevaFechaVencimiento]>[REN_FechaAnteriorVencimiento]))
GO
ALTER TABLE [dbo].[Renovaciones] CHECK CONSTRAINT [CK_Renovaciones_Fechas]
GO
ALTER TABLE [dbo].[Renovaciones]  WITH CHECK ADD  CONSTRAINT [CK_Renovaciones_Monto] CHECK  (([REN_MontoPagado]>=(0)))
GO
ALTER TABLE [dbo].[Renovaciones] CHECK CONSTRAINT [CK_Renovaciones_Monto]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [CK_Ventas_Descuento] CHECK  (([VEN_Descuento]>=(0)))
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [CK_Ventas_Descuento]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [CK_Ventas_Subtotal] CHECK  (([VEN_Subtotal]>=(0)))
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [CK_Ventas_Subtotal]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [CK_Ventas_Total] CHECK  (([VEN_Total]>=(0)))
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [CK_Ventas_Total]
GO
USE [master]
GO
